.account {
  display: block;
  text-align: left;
}
.account-form {
  widtH: 320px;
  padding: 24px;
  display: inline-block;
  text-align: left;
}
.header {
  padding: 16px 0 32px 18px;
}
.btn {
  width: 100%;
}
.login-img {
  display: inline-block;
  position: relative;
  height: 280px;
  width: 320px;
  background: url(../../img/login.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -16px;
}
@media (max-width: 576px) {
  .login-img {
    display: none;
  }
}
@media (max-width: 768px) {
  .login-img {
    display: none;
  }
}
@media (max-width: 992px) {
  .login-img {
    left: 8%;
  }
}
@media (min-width: 993px) {
  .login-img {
    left: 16%;
  }
}
