.account {
  display: block;
  text-align: left;
}
.account-form {
  widtH: 320px;
  padding: 24px;
  display: inline-block;
  text-align: left;
}
.btn {
  width: 100%;
}
#login-img {
  background: url(../../img/login.svg);
}
#register-img {
  background: url(../../img/register.svg);
}
