@primary: #62b0d6;
@primary-light: lighten(@primary, 20%);
@primary-dark: darken(@primary, 40%);
@white: lighten(@primary, 92%);

.account {
    display:block;
    text-align:left;
}

.account-form {
    widtH:320px;
    padding:24px;
    display:inline-block;
    text-align:left;
}

.header {
    padding:16px 0 32px 18px;
}

.btn {
    width:100%;
}

.login-img {
    display: inline-block;
    position: relative;
    height: 280px;
    width: 320px;
    background: url(../../img/login.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -16px;
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    .login-img {
        display:none;
    }
 }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    .login-img {
        display:none;
    }
 }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
    .login-img {
        left:8%;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 993px) {
    .login-img {
        left:16%;
    }
}