.petition {
  display: block;
  text-align: left;
}
.petition-form {
  width: 320px;
  text-align: left;
  display: inline-block;
  padding: 24px;
}
#new-petition-img {
  background: url('../../img/petition.svg');
}
