body {
  background-color: #ffffff;
}
nav {
  background-color: #62b0d6;
}
#logo {
  width: 12rem;
  padding: 12px;
}
#account-dropdown button {
  color: #ffffff;
  font-size: 1.5rem;
}
#account-dropdown a {
  color: #164156;
  font-size: 1rem;
}
.nav-link {
  color: #ffffff;
  font-size: 1.5rem;
  padding-top: 11px;
  transition: color 0.4s;
}
.nav-greeting {
  color: #ffffff;
  font-size: 14px;
  padding-top: 19px;
}
a.nav-link:hover {
  color: #b3d9eb;
}
#link-first {
  padding-left: 2rem;
}
footer {
  border-top: 1px solid lightgray;
  background-color: #ffffff;
  padding: 24px;
}
footer div {
  height: 24px;
}
.hero {
  height: 400px;
  background-image: url('img/bg-main.png');
  background-position: left;
  background-size: cover;
  background-position-x: center;
}
#hero-text {
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
  text-align: left;
}
#hero-highlight {
  font-weight: 400;
  color: #62b0d6;
}
.copy-article {
  border: 0.5px solid lightgray;
  border-bottom: none;
  height: 360px;
  font-size: 1.25rem;
}
#left {
  background: #62b0d6;
  color: #ffffff;
}
#right {
  background: #ffa63a;
  color: #ffffff;
}
#menu-icon,
#slide-menu {
  display: none;
}
@media screen and (max-width: 576px) {
  #desktop-nav {
    display: none;
  }
  #slide-nav {
    padding: 0;
  }
  #menu-icon {
    display: inline-block;
    color: #ffffff;
    font-size: 2rem;
  }
  #slide-menu {
    display: block;
    background-color: #164156;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: -750px;
    z-index: 1000;
    opacity: 0;
    text-align: center;
  }
  #slide-menu a {
    font-size: 2rem;
    padding-left: 0;
    padding-right: 0;
    transition: color 0.4s;
  }
  #slide-menu a:hover {
    color: teal;
  }
  #slide-menu-footer {
    color: white;
    text-align: center;
    background-color: #ffa63a;
    opacity: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: background-color 0.4s;
  }
  #slide-menu-footer:hover {
    background-color: #b3d9eb;
  }
}
