@primary: #62b0d6;
@primary-light: lighten(@primary, 20%);
@primary-dark: darken(@primary, 40%);
@white: lighten(@primary, 92%);

body {
    background-color: @white;
}

nav {
    background-color: @primary;
}

#logo {
    width:12rem;
    padding:12px;
}

.nav-link {
    color: @white;
    font-size: 22px;
    padding-top:11px;
    transition: color .4s;
}

.nav-greeting {
    color: @white;
    font-size: 14px;
    padding-top:19px;
}

a.nav-link:hover {
    color: @primary-light;
}

#link-first {
    padding-left:54px;
}

footer {
    border-top: 1px solid lightgray;
    background-color: @white;
    padding:24px;
}

footer div {
  height:24px;
}

.hero {
    height: 400px;
    background-image: url('img/bg-main.png');
    background-position: left;
    background-size: cover;
    background-position-x: center;
  }
  
  #hero-text {
    font-size: 36px;
    font-weight: 300;
    color: @white;
    text-align:left;
  }
  
  #hero-highlight {
    font-weight: 400;
    color: @primary;
  }
  
  .copy-article {
    border: 0.5px solid lightgray;
    border-bottom: none;
    height: 360px;
    font-size: 1.25rem;
  }
  
  #left {
    background: @primary;
    color: @white;
  }
  
  #right {
    background: #ffa63a;
    color: #ffffff;
  }

  #menu-icon, #slide-menu{
    display: none;
  }
  

@media screen and (max-width: 576px) {
    #desktop-nav {
      display:none;
    }

    #slide-nav {
      padding:0;
    }

    #menu-icon {
      display: inline-block;
      color:@white;
      font-size:2rem;
    }
  
    #slide-menu {
      display:block;
      background-color:@primary-dark;
      width:100%;
      position: fixed;
      bottom: 0;
      left: -750px;
      z-index: 1000;
      opacity:0;
      text-align:center;
    }
  
    #slide-menu a {
      font-size:2rem;
      padding-left:0;
      padding-right:0;
      transition: color .4s;
    }
  
    #slide-menu a:hover {
      color:teal;
    }
  
    #slide-menu-footer {
      color: white;
      text-align: center;
      background-color: teal;
      opacity: 1;
      position: absolute;
      bottom: 0;
      width: 100%;
      transition: background-color .4s;
    }
  
    #slide-menu-footer:hover {
      background-color: @primary-light;
    }
}